@media screen and (max-width: 991px) {
    .intro__title {
        font-size: 8rem;
    }
    .intro__subtitle {
        font-size: 6rem;
    }
    .intro__logo {
        transform: translate(-50%, -50%);
    }
    .form {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 767px) {
    .navbar {
        display: none;
    }
    .intro__logo {
        font-size: 7rem;
        transform: translate(-50%, -60%);
    }
    .intro__title {
        font-size: 5rem;
    }
    .intro__subtitle {
        font-size: 5rem;
    }
    .form {
        font-size: 1.5rem;
    }
    .menu {
        display: flex;
    }
    .project img {
        border-radius: 1rem;
    }
    
}

@media screen and (max-width: 576px) {
    .intro__logo {
        
        transform: translate(-50%, -60%);
    }
    .intro__logo img {
        width: 100%;

    }
    .intro__title {
        font-size: 4rem;
    }
    .intro__subtitle {
        font-size: 3rem;
    }
    .about__text p {
        font-size: 1.6rem;
        width: 30rem;
    }
    .form {
        font-size: 1.5rem;
    }

    .form__input {
        display: flex;
        flex-direction: column;
    }
    .info__input input {
        width: 100%;
    }
    
    
}