body {
    background-color: #000;
}


#preloader {
  background: #101010 url(../img/preloader.gif) no-repeat center center; 
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

.header {
  height: 4rem;
}

