.header {
    height: 100vh;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 40px;
    padding: 1rem 2rem;
    flex-wrap: nowrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    user-select: none;
}

.logo-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #3d9cec;
    text-transform: uppercase;
    user-select: none;
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-link a:link,
.nav-link a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #3d9cec;
    font-size: 1.2rem;
}

.nav-link {
    display: block;
    margin: 0 2rem;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-icon svg {
    width: 30px;
    margin: 0 1rem;
}

#preloader {
    background: #1c1c1c;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
#preloader lottie-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 400px;
    height: 400px;

}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    flex-grow: 1;
    opacity: 0;
}

.intro__logo {
    position: absolute;
    opacity: 0.4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: -10;
}

.intro__text {
    text-align: center;
    line-height: 0.8;
}

.intro__title {
    font-size: 10rem;
    font-weight: bold;
    color: #3d9cec;
    text-transform: uppercase;
    margin: 2rem 0;
}

.intro__subtitle {
    font-size: 10rem;
    font-weight: bold;
    margin: 2rem 0;
}

.heading__title h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #3d9cec;
    text-transform: uppercase;
    margin: 2rem 0;
    text-align: center;
}

.about__us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    width: 80rem;
    margin: 0 auto;
    gap: 9rem;
}

.about__us-content lottie-player {
    grid-column: 2 / 3;
}

.about__text {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.about__text p {
    text-align: left;
    font-size: 2.4rem;
}

.about__text p strong {
    text-decoration: underline;
    text-decoration-color: #3d9cec;
}

.projects {
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
    margin: 0 3rem;
}

.project img {
    width: 100%;
    border-radius: 2rem;
}

.project-desc {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 1rem 0.5rem;
}

.project-desc a {
    text-decoration: none;
    text-transform: uppercase;
    color: #3d9cec;
    font-size: 1.6rem;
}

.project-desc>i {
    cursor: pointer;
    color: #c2255c;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;

    gap: 2rem;
    margin-top: 5rem;
}

.card {
    position: relative;
    margin: 1rem auto;

    width: 28rem;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.card .card__img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #3d9cec;
}

.card .card__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1c1c1c;
}

.card .card__social-icons {
    text-decoration: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 2rem;
}

.card .card__social-icons a:link,
.card .card__social-icons a:visited {
    color: #ffffff;
    text-decoration: none;
}

.card .card__name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #3d9cec;
    text-transform: uppercase;
    margin: 2rem 0;
}

.card .role {
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.8rem;
}

.form__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #242424;
    width: fit-content;
    padding: 2rem 4rem;
    border-radius: 2rem;
    row-gap: 2rem;
}

.form__input button {
    cursor: pointer;
    grid-column: 1/ 3;
    justify-self: center;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
}

.info__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu {
    cursor: pointer;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 2rem;
    right: 2rem;
    z-index: 3;
}

.menu .line {
    display: inline-block;
    width: 3rem;
    height: 3px;
    background-color: #3d9cec;
    margin: 4px 0;
}

.menu-items {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
}

.menu-items[data-menu-state="open"] {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
}

.menu-items .menu-item {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    color: #3d9cec;
}

.go-down[data-element="1"] {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 5rem;
    right: calc(50% - 7.5px);

    transform: rotate(45deg);
    border-right: 3px solid #3d9cec;
    border-bottom: 3px solid #3d9cec;
    animation: updown 1.5s ease-in-out 2s infinite;
    border-radius: 3px;
}

.go-down[data-element="2"] {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 4rem;
    right: calc(50% - 7.5px);

    transform: rotate(45deg);
    border-right: 3px solid #3d9cec;
    border-bottom: 3px solid #3d9cec;
    animation: updown 1.5s ease-in-out 2s infinite;
    border-radius: 3px;
}

@keyframes updown {
    0% {
        transform: translateY(0) rotate(45deg);
    }

    50% {
        transform: translateY(10px) rotate(45deg);
    }

    100% {
        transform: translateY(0) rotate(45deg);
    }
}