.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 40px;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    user-select: none;
}

.logo-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #3d9cec;
    text-transform: uppercase;
    user-select: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link a:link,
.nav-link a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #3d9cec;
    font-size: 1.2rem;
}

.nav-link {
    display: block;
    margin: 0 2rem;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-icon svg {
    width: 30px;
    margin: 0 1rem;
}

#preloader {
    background: #000 url("https://i.pinimg.com/originals/b8/71/76/b8717641f46cdfdced2c86e984f07c11.gif") no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    flex-grow: 1;
}

.intro__logo {
    position: absolute;
    opacity: 0.4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: -10;
}

.intro__text {
    text-align: center;
    line-height: 0.8;
}

.intro__title {
    font-size: 10rem;
    font-weight: bold;
    color: #3d9cec;
    text-transform: uppercase;
    margin: 2rem 0;
}

.intro__subtitle {
    font-size: 10rem;
    font-weight: bold;
    margin: 2rem 0;
}

.heading__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #3d9cec;
    text-transform: uppercase;
    margin: 2rem 0;
    text-align: center;
}

.about__text {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__text p {
    text-align: center;
    font-size: 2.4rem;
    width: 40rem;
}